{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
{#    <button class="card-button">#}
{#        <a href="{{ button_label|default('Save') }}">#}
{#            Enregistrer#}
{#        </a>#}
{#    </button>#}
<div class="form-group">
    <label for="image">Image</label>
    <input class="form-control" type="file" name="image">
</div>
{{ form_end(form) }}
