{{ form_start(form) }}
<div class="border">
    <div class="new-form">
        <div class="new-form-text">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        <div class="new-form-text">
            {{ form_label(form.language) }}
            {{ form_widget(form.language) }}
        </div>
        <div class="new-form-text">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <div class="new-form-text">
            {{ form_label(form.picture) }}
            {{ form_widget(form.picture) }}
        </div>
    </div>
</div>
<button class="card-button">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

