{% extends 'base.html.twig' %}

{% block title %}Tips{% endblock %}

{% block body %}
    <h3 class="home-title mt-5 ml-5">Vos Tips</h3>
    <div class="col-12 d-flex flex-column align-items-center">
        <div class="mb-3 mt-5 col-md-9 col-sm-9 col-xs-6">
            {% for tip in tips %}
            <div class="card tip-list mb-5">
                <ul class="nav flex-row mt-5">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5"
                             src="https://www.slate.fr/sites/default/files/styles/1060x523/public/code_3.jpg"
                             alt="Card image cap">
                    </div>

                    <div class="col-md-6">
                        <div class="card-body">
                            <h4 class="card-title">{{ tip.name }}</h4>
                            <p class="card-text">{{ tip.description }}</p>

                            {% if tip.code is not empty %}
                                <span class="block-code">
                                        <code id="tip-{{ tip.id }}-code">
                                            {{ tip.code }}
                                        </code>
                                    </span>
                                <div class="d-flex justify-content-end align-items-end">
                                    <button class="button col-md-3" id="copy-button"
                                            data-clipboard-target="#tip-{{ tip.id }}-code">
                                        Copy
                                    </button>
                                </div>
                                <div class="card-text">
                                    {% for language in tip.languages %}
                                        <div class="card-text">
                                            Langages :
                                            <div class="language col-md-2">{{ language.name }}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="nav col-md-12 flex-row mt-3">
                            <p class="card-text align-content-start col-md-6"><small class="text-muted">Crée le : 21/12/2020</small></p>
                            <p class="card-text align-items-end col-md-6"><small class="text-muted">Crée par : Damiz</small></p>
                        </div>
                    </div>
                </ul>
            </div>
            {% else %}
            Aucun résultats
        </div>
        {% endfor %}

    </div>

{% endblock %}
