{% extends 'base.html.twig' %}

{% block title %}Tips{% endblock %}

{% block body %}
    <h1>Tips</h1>

    <section class="content">
        <div class="cards d-flex flex-wrap mt-5">
            {% for tip in tips %}
                <div class="card mb-5">
                    <div class="card__side card__side--front card__side--front-1">
                        <div class="card__description">
                            <h2>{{ tip.name }}</h2>
                            <img class="card-image" src="https://via.placeholder.com/500x400" alt="image uploded by user">
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__description">
                            {{ tip.description }}
                            {{ tip.language }}
                        </div>
                        <div class="button-lign col-12 d-flex justify-content-end align-items-end">
                            <button class="mt-5 card-button">
                                <a class="" href="{{ path('tips_show', {'id': tip.id}) }}">Détail</a>
                            </button>
                            <button class="mt-5 ml-2 card-button">
                                <a href="{{ path('tips_edit', {'id': tip.id}) }}">Modifier</a>
                            </button">
                                {{ include('tips/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            {% else %}
                <tr>
                    <td colspan="6">Aucun Résultat</td>
                </tr>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <button class="learn-more mt-5 ml-5 mb-5">
                <a href="{{ path('tips_new') }}">Ajouter un Tip</a>
            </button>
        </div>
    </section>
{% endblock %}
