{% extends 'base.html.twig' %}

{% block title %}Tips{% endblock %}

{% block body %}

--> Transform in message Flash
{#    <div class="d-flex justify-content-end mx-3 m-0">#}
{#        <h3>Welcome back, {{ app.user.firstname }} !</h3>#}
{#    </div>#}

    <div class="container">
{#        <div class="f-card align-items-center justify-content-center">#}
{#            <div class="d-flex align-items-center justify-content-center">#}

{#               #}
{#            </div>#}
{#        </div>#}

        {% for tip in tips %}
            <div class="f-card mt-5">
                <div class="header">
                    <img class="co-logo" src="http://placehold.it/40x40"/>
                    <div class="co-name">{{ tip.author.firstname ~ " " ~ tip.author.lastname }}
                    </div>
                    <div class="time">{{ tip.datetime|date("d/m/y h:m") }}</div>
                    <h1 class="mt-3">
                        <a class="link-title" href="{{ path('tips_show', {'id': tip.id}) }}">
                            {{ tip.name }}
                    </h1>
                    <div class="reference my-3">
                        <img class="reference-thumb" src="{{ asset('build/code_img.jpg') }}" alt="{{ tip.name }}"/>
                        {% if tip.code is not empty %}
                            <div class="reference-subtitle block-code mt-3">
                                <div class="code" id="tip-{{ tip.id }}-code">
                                    {{ tip.code }}
                                </div>
                            </div>
                            <div class="header d-flex align-items-end justify-content-end mt-2">
                                <button class="col-3 btn copy-button" data-clipboard-target="#tip-{{ tip.id }}-code">
                                    Copy
                                </button>
                            </div>
                        {% endif %}
                        <div class="social">
                            <div class="social-buttons d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <span class="mr-3"><i class="fa fa-thumbs-up"></i>Like</span>
                                    <span><i class="fa fa-thumbs-down"></i>Dislike</span>
                                </div>
                                <span><i class="fa fa-comment"></i><a href="#"></a>Comment</span>
                                <span><i class="fa fa-exclamation-circle"></i><a href="#"></a>Report</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="text-center">
                <h2>
                    Tip not Found
                </h2>
            </div>
        {% endfor %}
    </div>

    <script>

        function enableCopyButtons(copyButtons) {
            for (let i = 0; i < copyButtons.length; i++) {
                copyButtons[i].addEventListener('click', (e) => {
                    e.target.textContent = "Copied";
                }, false)
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        window.onload = () => {
            mybutton = document.getElementById("myBtn");
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                    mybutton.style.display = "block";
                } else {
                    mybutton.style.display = "none";
                }
            }
        }

        const copyButtons = document.getElementsByClassName('copy-button');
        enableCopyButtons(copyButtons);
    </script>

    <button onclick="topFunction()" id="myBtn" title="Back to top">
        <i class="fas fa-angle-up"></i>
    </button>

    <div class="d-flex align-items-center justify-content-center">
        Created by Damien with <i class="fa fa-heart ml-2"></i>
    </div>

{% endblock %}
