{% extends 'base.html.twig' %}

{% block title %}Tips index{% endblock %}

{% block body %}
    <h1>Tips index</h1>

    {% for tip in tips %}
            <div class="col-12">
                <div class="card mt-5 mb-5" style="width: 18rem;">
                    {{ tip.picture }}
                    <div class="card-body">
                        <h5 class="card-title">{{ tip.name }}</h5>
                        <p class="card-text">{{ tip.example }}</p>
                        <p class="">{{ tip.language }}</p>
                        <button class="learn-more">
                            <a href="{{ path('tips_show', {'id': tip.id}) }}">show</a>
                        </button>
                        <button class="learn-more">
                            <a href="{{ path('tips_edit', {'id': tip.id}) }}">edit</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}

    <button class="learn-more mt-5 ml-5 mb-5">
        <a href="{{ path('tips_new') }}">Create new</a>
    </button>
{% endblock %}
