{% extends 'base.html.twig' %}

{% block title %}Tips index{% endblock %}

{% block body %}
    <h1>Tips index</h1>

    <section class="content">
        <div class="cards">
            <div class="card">
                <div class="card__side card__side--front card__side--front-1">
                    <div class="card__description">Make Crud</div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__description">Pour Créer un CRUD dans Symfony</div>
                </div>
            </div>
            <div class="card">
                <div class="card__side card__side--front card__side--front-2">
                    <div class="card__description">2</div>
                </div>
                <div class="card__side card__side--back card__side--back-2">
                    <div class="card__description">bin/console make:crud</div>
                </div>
            </div>
            <div class="card">
                <div class="card__side card__side--front card__side--front-3">
                    <div class="card__description">3</div>
                </div>
                <div class="card__side card__side--back card__side--back-3">
                    <div class="card__description"></div>
                </div>
            </div>
        </div>
    </section>


    {% for tip in tips %}
            <div class="col-12">
                <div class="card mt-5 mb-5" style="width: 18rem;">
                    {{ tip.picture }}
                    <div class="card-body">
                        <h5 class="card-title">{{ tip.name }}</h5>
                        <p class="card-text">{{ tip.example }}</p>
                        <p class="">{{ tip.language }}</p>
                        <button class="learn-more">
                            <a href="{{ path('tips_show', {'id': tip.id}) }}">show</a>
                        </button>
                        <button class="learn-more">
                            <a href="{{ path('tips_edit', {'id': tip.id}) }}">edit</a>
                        </button>
                    </div>
                </div>
            </div>
    {% else %}
        <tr>
            <td colspan="6">no records found</td>
        </tr>
    {% endfor %}

    <button class="learn-more mt-5 ml-5 mb-5">
        <a href="{{ path('tips_new') }}">Create new</a>
    </button>
{% endblock %}
