{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    {% for tips in tip %}
    <div class="card">
        <div class="card-header">
            {{ tip.name }}
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ tip.description }}</h5>
            <p class="card-text">{{ tip.picture }}</p>
            <a href="#" class="btn btn-primary">Clipboard</a>
        </div>
    </div>
        {% else %}
        <h1 class="mt-5 p-5">Aucun Résultat</h1>
    {% endfor %}

    <div class="col-12 mx-lg-5 col-md-5 col-lg-2 m-2 p-0 d-flex justify-content-center align-content-center">
        <button class="mt-5 card-button">
            <a href="{{ path('tips_index') }}">Retour</a>
        </button>
        <button class="mt-5 ml-3 card-button">
            <a href="{{ path('tips_edit', {'id': tip.id}) }}">Modifier</a>
        </button>
    </div>

{% endblock %}
