<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <h2>ADD TIP</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <a class="nav-link-href" href="{{ path('home') }}">Accueil</a>

            {% if app.user %}
                <a class="nav-link-href" href="{{ path('tips_index') }}">Mes tips</a>
            {% endif %}

            {% if app.user %}
                <a class="nav-link-href" href="#">Recherche</a>
            {% endif %}

            <a class="nav-link-href" href="#">Contact</a>

            {% if is_granted('ROLE_ADMIN') %}
                <a class="nav-link-href" href="{{ path('dashboard') }}">Admin</a>
            {% endif %}

            {% if app.user %}
                <a class="nav-link-href" href="{{ path('app_logout') }}">Logout</a>
            {% else %}
                <a class="nav-link-href" href="{{ path('app_login') }}">Login</a>
            {% endif %}

            {% if not app.user %}
                <a href="{{ path('app_register') }}" class="nav-link-href">Create an Account</a>
            {% endif %}
        </ul>
    </div>
</nav>